<div class="organizers">
  <h2>Organizers</h2>
  <table>
  <tr>
    <td class="name">Divyansh Kaushik</td>
    <td class="organization">Carnegie Mellon University; Federation of American Scientists</td>
  </tr>
  <tr>
    <td class="name">Jennifer Hsia</td>
    <td class="organization">Carnegie Mellon University</td>
  </tr>
  <tr>
    <td class="name">Jessica Huynh</td>
    <td class="organization">Carnegie Mellon University</td>
  </tr>
  <tr>
    <td class="name">Yonadav Shavit</td>
    <td class="organization">Schmidt Futures</td>
  </tr>
  <tr>
    <td class="name">Samuel R. Bowman</td>
    <td class="organization">New York University; Anthropic</td>
  </tr>
  <tr>
    <td class="name">Ting-Hao Kenneth Hunag</td>
    <td class="organization">Penn State University</td>
  </tr>
  <tr>
    <td class="name">Douwe Kiela</td>
    <td class="organization">Huggingface</td>
  </tr>
  <tr>
    <td class="name">Zachary C. Lipton</td>
    <td class="organization">Carnegie Mellon University</td>
  </tr>
  <tr>
    <td class="name">Eric Smith</td>
    <td class="organization">Facebook AI Research</td>
  </tr>
  </table>
</div>
